.App {
  font-size: var(--font-size-main);
}

.App button {
  font-size: var(--font-size-main);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App main {
  display: flex;
  justify-content: space-around;
}

.employees-container {
  flex-grow: 0.5;
}
.employees-container .employee-title {
  width: 70%;
}
.employees-container h2 {
  text-align: center;
}

.userLists {
  display: flex;
  justify-content: space-around;
}

main ul {
  margin: 0;
  padding: 0;
}

main ul li {
  list-style: none;
}

.userContainer {
  text-align: left;
}

.userContainer .activity .activityCheck {
  display: block;
}

.userContainer .activity .activityCheck label {
  margin-left: 1rem;
}

.userActive {
  color: var(--active-color);
}
.buttonActive {
  background-color: var(--active-color);
}

.filter {
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.filter-active {
  text-decoration: underline;
}
